:where(*) {
  box-sizing: border-box;
  font-family: unset;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

:where(html, body) {
  height: 100vh;
  line-height: 0;
  position: relative;
}
:where(body > .entry-point) {
  display: contents;
}
:where(body > .entry-point > *:not(img)) {
  line-height: 1;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.125em;
}
main > div {
  background-color: black;
  padding-block: 0.0625em;
}
main > div > img {
  display: block;
  margin-inline: auto;
  max-inline-size: 100%;
}

.hidden {
  display: none;
}

.drag-and-drop-file-picker > span {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
